.regionInputContainer {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
}

.inputWithFlag {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid #32323266;
  border-radius: 0.5rem;
  outline: none;
  padding: 0.55rem 0rem;
  padding-left: 2.5rem;
  padding-right: 1rem;
}
.flag {
  width: 24px;
  height: 16px;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.regionName {
  position: absolute;
  left: 40px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: #555;
}

.input {
  padding: 10px 10px 10px 60px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  font-size: 14px;
}

.select {
  background: none;
  width: 100%;
  font-size: 0.9rem;
  color: #a1a1a1;
}
.select:focus {
  outline: none;
  border-color: initial;
  box-shadow: none;
  background: none;
}
label {
  display: block;
  color: #110d06;
  font-weight: 600;
  font-size: 0.9rem;
  margin-bottom: 0.45rem;
  line-height: 1.15rem;
  letter-spacing: -2%;
}
