.alertBanner {
  background-color: #eb44b2;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  height: 3.313rem;
}

.alertBanner span {
  font-size: 0.875;
  line-height: 1.5;
  font-weight: 400;
  margin: 0.5rem;
}

.alertBanner span a {
  text-decoration: underline;
}

.alertText {
  background-color: white;
  color: #141214;
  border-radius: 1rem;
  margin-right: 1rem;
  width: auto;
  height: 1.875rem;
  width: 4.813rem;
  text-align: center;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .alertBanner {
    flex-direction: column;
    height: auto;
  }

  .alertText {
    margin-right: 0;
    margin-bottom: 0.5rem;
    height: auto;
  }
  .alertBanner span {
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .alertBanner span {
    font-size: 1.2rem;
  }
}
